.generate-button {
    background-color: #001524; 
    color: white;
    // padding: 10px 20px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 50px;
    margin-left: 2%;
  }
  
  .generate-button:hover {
    background-color: #0077b6;
  }
  
  .generate-button:active {
    background-color: #005d8f; 
  }
  
body {
  background-color: #113946;

}

  .layout-gen {
    width: 100vh;
    height: auto;
    color: black;
    background-color: white;
    padding-left: 4%;
    margin-top: 20%; 
    // margin-bottom: 4%;
    border-radius: 10px;
  }

  .app-card-gen {
    margin-left: 10%;
    width: 1352.800;
    color: black;
    background-color:white;
    padding: 32px 48px;
    padding-left: 2%;
  }


.sum-window {
  width: 100%;
}